.card-product {
    padding: 1em;
    border-left: solid 4px #4c0864;
    border-radius: 10px;
    box-shadow: inset;
    margin: 0 1em 1em 1em;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;

    &span {
        border-radius: 50%;
        padding: 1em;
        background-color: #000;

    }

    & .div-price {
        width: 50%;
        display: flex;
        flex-direction: column;
      justify-content: start;
    }
    & .div-amount {
        
        width: 50%;
        display: flex;
        flex-direction: column;
        justify-content: start;
    }

    & .div-title {
        display: flex;

        & img {
            width: 5em;
            height: 5em;
            margin-right: 2em;
            border-radius: 8px;
        }

        & div h2 {
            margin-bottom: -0.5em;
        }

    }

    &p {
        margin-top: 1em;
        color: #3a3939;
    }

    & .buttons {
        display: flex;
        justify-content: end;
        margin-right: 1em;

        & button {
            margin-right: 1em;
            border-radius: 8px;
            padding: 0.8em;
        }
    }
}



.grid {
    display: grid;
}

.grid-template-columns-inline-2 {
    grid-template-columns: repeat(2, 1fr);
    gap: 1.5em;
}

.flex {
    display: flex;
}
.div-checkbox {
    display: flex;
    justify-content: end;
}
.div-checkbox input {
    appearance: none; 
    width: 2em;
    height: 2em;
    border: 0.15em solid #555;
    border-radius: 8px;
    background-color: transparent;
    transition: background-color 0.2s, border-color 0.2s;
}

.div-checkbox input:checked {
    background-color: #4c0864; 
    border-color: #4c0864;
}

.div-checkbox input:checked::before {
    content: '✔';
    font-size: 1.2em;
    color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.price,
.amount {
    margin-top: -1em;
    font-weight: bold;
}

.edit-product {
    color: #fff;
    background-color: #4b0454;
}

.delete-product {
    color: #fff;
    background-color: #a04b4b;
}