.row {
    display: flex;
    justify-content: center;
    gap: 2em;
    & Card {
        min-width: 6em;
    }
}
.main {
    padding: 0 2em;
}
/* Responsividade: Cards ocupam 100% da largura no celular */
@media (max-width: 768px) {
   .row {
    flex-direction: column;
   }
}
