.main {
   
    padding: 0 2%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

input,select,textarea {
    background-color: #fff;
    border: solid 1px #000;
    border-radius: 5px;
    width: 90%;
    min-height: 2.5em;
    color: #000;
    padding: 2px;

}
textarea {
    height:5em ;
}


.buttons {
    display: flex;
    justify-content: end;
    margin-right: 2em;
}
.button {
    width: 10em;
    height: 3em;
    border-radius: 8px;
    margin-bottom: 100px;
    font-size:1rem;
}
.save {
    background-color: #3c6050;
   
}
.cancel {
    background-color: #a04b4b;
   
}

.div-image{
    padding: 5em;
    width: 50%;
    display: flex;
    align-self: center;
    justify-content: center;
    border: dashed #000;
    border-radius: 8px;
    
}

.hidden-input {
    display: none;
}